div#carouselExampleControls .carrousel-inner .carrousel-item img {
  max-height: 30rem;
  max-width: 30rem;
  margin: auto; }

.img-accesorios {
  max-width: 9rem;
  min-width: 9rem;
  align-items: center;
  align-content: center; }

.img-suplementos {
  max-width: 10rem;
  max-height: 10rem;
  margin-top: 10px; }
