.rutinas__container{
     
    &-div{
       text-align: justify;
        h4{
            text-align: center;
        }
    }
}

@media screen and (min-width: 800px){
    .rutinas__container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        &-div{
            
        }
    }
}